<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FepManager.Properties.Settings.connectionString" connectionString="data source=c:\Works\FepManager\test\PDSCfg-new.repo;characterEncoding=GBK;"
            providerName="System.Data.SQLite" />
        <add name="FepManager.Properties.Settings.defaultConnectionString"
            connectionString="data source=C:\Works\FepManager\test\default.repo"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>